body{

font-family:Arial;
background:#f4f4f4;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
margin:0;

}

.container{

text-align:center;

}

.menu{

display:grid;
grid-template-columns:repeat(2,200px);
gap:20px;

}

button{

padding:20px;
border:none;
border-radius:10px;
background:#ccc;
cursor:pointer;
font-size:16px;

}

.completat{

background:#28a745;
color:white;

}

.progres{

background:#ffc107;

}

.pendent{

background:#ccc;

}